- hosts: nginx
  become: yes
  roles:
    - load-balancer

- hosts:
  - swarm-managers
  - swarm-workers
  become: yes
  roles:
    - installing-docker

- hosts:
  - swarm-managers
  become: yes
  roles:
    - swarm-setup

- hosts:
  - swarm-workers
  become: yes
  roles:
    - swarm-join